*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Finlandica', sans-serif;
    
}
header{
    height: 100vh;
    background-image: url(./images/flower01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.banner-content{
padding: 250px;
color: rgb(240, 228, 228)
}
.banner-content p{
    font-size: 22px;
    font-weight: 700;}
    .link-button{
        font-family: 'Trebuchet MS';
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 25px;
        font-weight: 900;
        border-radius: 05px;
        background-color: #e0a96d;
        padding: 05px;
        margin: 7px;
    }
    .audio-desgin{
        align-items: center;
    }
.flexbox-content{
    margin-top: 40px;
    margin-bottom: 40px;
     text-align: center;
     
}
.flex-box{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
justify-content: center;
}