*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Finlandica', sans-serif;
    
}
header{
    height: 100vh;
    background-image: url(./images/flower01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.banner-content{
padding: 250px;
color: rgb(240, 228, 228)
}
.banner-content p{
    font-size: 22px;
    font-weight: 700;}
    .link-button{
        font-family: 'Trebuchet MS';
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 25px;
        font-weight: 900;
        border-radius: 05px;
        background-color: #e0a96d;
        padding: 05px;
        margin: 7px;
    }
    .audio-desgin{
        align-items: center;
    }
.donation-text{
    text-align: center;
    padding: 80px;
}


    .donation__amount {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 100px;
      }
      
      .donation__amount span {
        padding: 30px 30px;
        background-color: #8b510e25;
        margin-right: 40px;
        border-radius: 5px;
        font-size: 20px;
        color: #201e20cd;
        font-weight: 700;
      }
      .flex-content{
        display: flex;
        margin: 30px;
        padding: 05px;
      }
     .flex-content p{
        background-color: aquamarine;
        padding: 50px;
        margin: 30px;
        border-radius: 10px;
     }
      
     